.nav {
  background-color: #f9f9fa;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #2e363e;
  position: relative;
}

.nav-notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav-icon {
  background-color: tomato;
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  position: absolute;
  left: 35px;
}
