.screen-header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header_icons span {
  margin-left: 20px;
}
